@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Barlow+Condensed:ital,wght@1,500&family=Montserrat&family=Nunito+Sans:wght@700&display=swap");
:root {
  --secondary: #ffc700;
  --white: #ffffff;
  --primary: #433434;
  --bgsuccess: #00ff4817;
  --success: #00ff47;
}

body {
  background-color: #efefef !important;
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 70px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

/*
font-family: 'Abhaya Libre', serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;

*/
